.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    transition-timing-function: ease;
    transition: all 0.5s;
}

.nav__black {
    background-color: black;
}

.nav__logo {
    width: 150px;
    object-fit: contain;
    height: 25px;
    position: fixed;
    left: 20px; 
    /*deberia estar el -100 en 20, buscar otra foto ? */
}

.nav__avatar {
    width: 30px;
    object-fit: contain;
    position: fixed;
    right: 20px;
}

